{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:security/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  },
  "plugins": ["jest", "security", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "import/extensions": ["error", "ignorePackages"],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-console": "error",
    "func-names": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "jest/expect-expect": "off",
    "security/detect-object-injection": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true,
        "allowNamedExports": false
      }
    ]
  }
}
